* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Обеспечивает высоту в 100% от экрана */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #242424;
    color: white;
    padding: 20px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

header .logo img {
    height: 50px;
}

.main-section {
    margin-top: 90px; /* Отступ, чтобы не перекрывался header */
    position: relative;
    flex-grow: 1; /* Позволяет этому разделу занимать всё оставшееся пространство */
}

.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
}

.content-overlay h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-overlay p {
    font-size: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.font {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 18px;
}

.flex_row {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}

.text_row {
    position: relative;
}

.outlet {
    padding-top: 90px;
}

footer {
    background-color: #242424;
    color: white;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

